body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color:  #11999E;
}
.nav-item a{
    color: white;
}

button.navbar-toggler{
    border-color: white;
}

#menuBurger{
    color: white;
    border-color: white;
}

svg{
    height: 20px;
    width: 20px;
}

#carrito{
    width: 50px;
    height:40px;
}

footer .list-unstyled li a{
    text-decoration: none;
}

footer{
   
    background-color: #11999E;
}