.navbar{
    background-color: #11999E !important;
}

.footer{
    background-color: #40514E;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.button-color{
    background-color: #30E3CA !important;
}

.button-agregar{
    display: flex;
    justify-content: center;
}

th, td {
    white-space: nowrap;
}

.tables{
    margin: 4vh;
}